{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Landing Page - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href={% static "vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href={% static "vendor/fontawesome-free/css/all.min.css" %} rel="stylesheet">
  <link href={% static "vendor/simple-line-icons/css/simple-line-icons.css" %} rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css">

  <!-- Custom styles for this template -->
  <link href={% static "css/landing-page.min.css" %} rel="stylesheet">
  <style>
    .navbar {
      min-height: 80px;
    }

    .navbar-brand {
      padding: 0 15px;
      height: 80px;
      line-height: 80px;
    }

    .navbar-toggle {
      /* (80px - button height 34px) / 2 = 23px */
      margin-top: 23px;
      padding: 9px 10px !important;
    }

    @media (min-width: 768px) {
      .navbar-nav>li>a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
      }
    }

    .nav-link {
      /* color: white !important; */
      font-size: 25px !important;
    }

    .navbar-brand {
      font-size: 30px !important;
    }

    .nav li {
      padding-right: 100px;
    }

    html {
      scroll-behavior: smooth;
    }
  </style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#"">TrackAtd</a>
    <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/accounts/login/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accounts/register/">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accounts/login/">Login</a>
          </li>


        </ul>
      </div>
  </nav>
  <br>


  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container" style="height: 1px;">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5" style="margin: auto; width:50 px;">Keep a track of your attendance the smarter way!</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <!-- <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
              </div>
            </div>
          </form> -->
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Fully Responsive Design</h3>
            <p class="lead mb-0">Access wherever you wish to , whenever you wish to!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>All student friendly features</h3>
            <p class="lead mb-0">Featuring the all the essential features for a student to maintain!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Easy to Use</h3>
            <p class="lead mb-0">Easily maintain your attendance at your pace</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img"
          style="background-image: url('{% static "img/study.jpg" %}')"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Fully Responsive Design</h2>
          <p class="lead mb-0">Access wherever you wish to , whenever you wish to.Has feature which allows teacher as
            well as students to maintain the attendance record!!</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img"
          style="background-image: url('{% static "img/studentsjpg.jpg" %}')"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>All student friendly features</h2>
          <p class="lead mb-0">Newly improved, and full of great utility classes, manage your lectures easily!</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img"
          style="background-image: url('{% static "img/laptop.jpg" %}')"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Easy to Use &amp; Customize</h2>
          <p class="lead mb-0">Keep track where you are lacking and update as per your convenience!Teachers can now keep
            a track of student attendances as well!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Our founders</h2>
      <div class="row">

        <div class="col-lg-6">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src={% static "img/tar.jpg" %} alt="">
            <h5>Tarush R.</h5>
            <p class="font-weight-light mb-0">Our backend developer thorough in Django</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src={% static "img/testimonials-4.jpg" %} alt="">
            <h5>Kunal R.</h5>
            <p class="font-weight-light mb-0">Our frontend developer well versed with CSS and HTML</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started? Sign up now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <!-- <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
              </div>
            </div>
          </form> -->
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; TrackAtd 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src={% static "vendor/jquery/jquery.min.js" %}></script>
  <script src={% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>

</body>

</html>